.l-center.units.single-mail-list {
    background: #FFF;
    margin-bottom: 50px;
}

.single-mail-list:not(.units-block-1)::before {
    height: 0 !important;
}

.single-mail-list > .l-unit:first-child {
    background: #efefef;
    border-bottom: 1px solid #c3c3c3;
}

.single-mail-list > .l-unit:first-child .l-unit__date {
    padding-bottom: 5px;
}

.single-mail-list > .l-unit:first-child .favorite {
    padding-bottom: 17px;
}

.single-mail-list > .l-unit .suspended {
    visibility: hidden;
}

.single-mail-list > .l-unit.l-unit--suspended .suspended {
    visibility: visible;
}

.single-mail-list > .l-unit.l-unit--suspended:first-child .l-unit__name {
    color: #ADADAD;
}

.single-mail-list > .l-unit:first-child .l-unit__name {
    color: #ff6701;
}
